* {
  box-sizing: border-box;
}

:root {
  --textOutline: rgb(251, 251, 251) 3px 0px 0px,
    rgb(251, 251, 251) 2.83487px 0.981584px 0px,
    rgb(251, 251, 251) 2.35766px 1.85511px 0px,
    rgb(251, 251, 251) 1.62091px 2.52441px 0px,
    rgb(251, 251, 251) 0.705713px 2.91581px 0px,
    rgb(251, 251, 251) -0.287171px 2.98622px 0px,
    rgb(251, 251, 251) -1.24844px 2.72789px 0px,
    rgb(251, 251, 251) -2.07227px 2.16926px 0px,
    rgb(251, 251, 251) -2.66798px 1.37182px 0px,
    rgb(251, 251, 251) -2.96998px 0.42336px 0px,
    rgb(251, 251, 251) -2.94502px -0.571704px 0px,
    rgb(251, 251, 251) -2.59586px -1.50383px 0px,
    rgb(251, 251, 251) -1.96093px -2.27041px 0px,
    rgb(251, 251, 251) -1.11013px -2.78704px 0px,
    rgb(251, 251, 251) -0.137119px -2.99686px 0px,
    rgb(251, 251, 251) 0.850987px -2.87677px 0px,
    rgb(251, 251, 251) 1.74541px -2.43999px 0px,
    rgb(251, 251, 251) 2.44769px -1.73459px 0px,
    rgb(251, 251, 251) 2.88051px -0.838247px 0px;
}

body {
  background-image: url(./asset/img/bg.jpg);
  background-size: cover;
}

.main {
  width: 100%;
}

.items {
}

.header-text {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #ff5975;
  word-spacing: 2px;
  text-shadow: var(--textOutline);
}

.game-boxs {
  width: 100%;
}

.box {
  width: 810px;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: #f87fa0 solid 4px;
  border-radius: 12px;
  margin: 60px auto;
  position: relative;
}

.box-header {
  position: absolute;
  top: -40px;
  left: -30px;
  width: 454px;
  height: 74px;
  border-radius: 12px;
  background-color: #f65680;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #ff5975;
  text-shadow: var(--textOutline);
}

.question {
  text-shadow: var(--textOutline);
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #ff5975;
}

.answer {
  text-shadow: var(--textOutline);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

.game__q1--question {
  margin-top: 50px;
}

.game__q1--answer {
  margin-top: 10px;
  line-height: 25px;
}

.game__q1--answer li {
  cursor: pointer;
  padding: 3px;
}

.game__q1--answer li:hover {
  color: #ad4a5b;
}

.game__q1--answer span {
  margin-left: 10px;
  color: #ad4a5b;
  display: none;
}

.game__q2--question {
  margin-top: 10px;
}

.game__q2--answer {
  margin-top: 10px;
  margin-left: 100px;
}

.q2--result {
  margin-top: 10px;
  margin-left: 100px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 5px;
  padding: 6px;
  width: 95px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  border: outset 4px #f8b5c7;
  color: #fcfcfc;
  background-color: #f65680;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #f16f92;
}

button:hover:active {
  transform: scale(0.96);
}

.correct {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  display: none;
  justify-content: center;
  color: rgb(128, 255, 0);
  align-items: center;
  position: relative;
}

.rules {
  margin-top: 50px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.rule {
  margin-top: 30px;
}

.rules span {
  color: #ff5975;
}

.tick {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 120px;
  left: 20%;
}
